<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
	<activeProfiles>
		<activeProfile>artifactory</activeProfile>
		<activeProfile>sonar</activeProfile>
	</activeProfiles>
	<servers>
    <server>
      <id>gitlab-maven</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Private-Token</name>
            <value>fvFxqvW1iQmWExuPMvfp</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
  </servers>
	<profiles>
		<profile>
			<!-- Dev and default profile -->
			<id>artifactory</id>
			<properties>
				<!-- following are required for a SMH successfull build < 3.0.3.3 -->
				<cg.bdd.test.user>sa</cg.bdd.test.user>
				<cg.bdd.test.password></cg.bdd.test.password>
				<cg.bdd.test.url>jdbc:hsqldb:mem:sample</cg.bdd.test.url>
				<cg.bdd.test.driverjdbc>org.hsqldb.jdbcDriver</cg.bdd.test.driverjdbc>
				<maven-checkstyle-config-location>file:C:\projects\src\config\checkstyle.xml</maven-checkstyle-config-location>
        <maven-checkstyle-suppressions-location>file:C:\projects\src\config\checkstyle-suppressions.xml</maven-checkstyle-suppressions-location>
        <maven-pmd-plugin-ruleset-location>file:C:\projects\src\config\pmd-ruleset.xml</maven-pmd-plugin-ruleset-location>
			</properties>
			<repositories>
			  <repository>
          <id>gitlab-maven</id>
          <url>https://gitlab.com/api/v4/groups/smh/-/packages/maven</url>
        </repository>
				<repository>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<id>jitpack.io</id>
					<url>https://jitpack.io</url>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>sonar</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<properties>
				<JAVA_HOME>C:\Program Files\Java\jdk1.8.0_91</JAVA_HOME>
				<JAVA_6_HOME>C:\Program Files\Java\jdk1.8.0_91</JAVA_6_HOME>
				<svn.eclipse>C:\projects\src\smh\applicatif\trunk\macker</svn.eclipse>
				<svn.macker.smtom>file:C:\projects\src\smh\applicatif\trunk\macker</svn.macker.smtom>
				<svn.macker.smh>file:C:\projects\src\smh\applicatif\trunk\macker</svn.macker.smh>
				<svn.macker.pfe>file:C:\projects\src\smh\applicatif\trunk\macker</svn.macker.pfe>
				<cg.bdd.test.user>sa</cg.bdd.test.user>
				<cg.bdd.test.password></cg.bdd.test.password>
				<cg.bdd.test.url>jdbc:hsqldb:mem:sample</cg.bdd.test.url>
				<cg.bdd.test.driverjdbc>org.hsqldb.jdbcDriver</cg.bdd.test.driverjdbc>
			</properties>
		</profile>
	</profiles>
</settings>